/* Estilo para o conteúdo */
#cont {
    grid-area: cont;
    background-color: #E5D4C8; /* Cor clara */
    padding: 1rem;
    color: #36434A; /* Cor do texto */
    font-weight: 400;
}

/* Estilo para as seções */
.section {
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
}

/* Estilo para a seção do carrinho */
#cart {
    background-color: #FF4777; /* Cor de destaque */
    color: #E5D4C8; /* Cor do texto */
    text-align: center;
}

/* Estilo para o botão de pedido */
.pedido {
    margin-top: 1rem;
    text-align: center;
}

.btn-pedido {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #E5D4C8; /* Cor clara */
    color: #36434A; /* Cor do texto */
    border-radius: 10px; /* Bordas arredondadas */
    border: none;
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    transition: 0.3s; /* Suaviza as mudanças */
}

.btn-pedido:hover {
    background-color: #36434A; /* Cor ao passar o mouse */
    color: #E5D4C8; /* Cor do texto ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra mais forte */
}

.onigiri-item {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.onigiri-item label {
    font-weight: bold;
    color: #36434A;
    font-size: 1rem;
}

.onigiri-item input {
    width: 60px;
    padding: 0.5rem;
    border: 2px solid #FF4777; /* Cor de destaque */
    border-radius: 10px; /* Bordas arredondadas */
    text-align: center;
    font-size: 1rem; /* Tamanho do texto */
    background-color: #E5D4C8; /* Cor clara */
    color: #36434A; /* Cor do texto */
    transition: border-color 0.3s, box-shadow 0.3s; /* Suaviza as mudanças */
}

.onigiri-item input:focus {
    border-color: #36434A; /* Cor ao focar */
    box-shadow: 0 0 5px rgba(54, 67, 74, 0.5); /* Adiciona sombra ao focar */
    outline: none; /* Remove o outline padrão */
}
